name: Deploy taskapp to AWS

on:
  push:
    branches:
      - main
  workflow_dispatch:
jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      # Checkout code
      - name: Checkout Code
        uses: actions/checkout@v3

      # Configure AWS credentials
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      # Login to ECR (build runner)
      - name: Login to Amazon ECR
        run: |
          aws ecr get-login-password --region ${{ secrets.AWS_REGION }} \
          | docker login --username AWS \
          --password-stdin 216989134640.dkr.ecr.eu-north-1.amazonaws.com

      # Build image
      - name: Build Docker Image
        run: docker build -t taskapp .

      # Tag image
      - name: Tag Docker Image
        run: |
          docker tag taskapp:latest \
          216989134640.dkr.ecr.eu-north-1.amazonaws.com/taskapp:latest

      # Push image
      - name: Push Image to ECR
        run: |
          docker push \
          216989134640.dkr.ecr.eu-north-1.amazonaws.com/taskapp:latest

      # Deploy on EC2
      - name: Deploy to EC2 via SSH
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
